@page "/investimento"
@using AppFinancas.Models
@rendermode InteractiveServer
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager navigationManager

<PageTitle>Investimentos</PageTitle>

<h2>Meus investimentos</h2>

@if (mensagem != string.Empty)
{
    <label class="text text-info">@mensagem</label>
}

<table class="table">


    <style type="text/css">

        table {
            border-spacing: 0px;
        }

        th, td {
            padding: 5px 30px 5px 10px;
            border-spacing: 0px;
            font-size: 100%;
            margin: 0px;
        }

        th, td {
            text-align: left;
            background-color: #e0e9f0;
            border-top: 1px solid #f1f8fe;
            border-bottom: 1px solid #cbd2d8;
            border-right: 1px solid #cbd2d8;
        }

        tr.head th {
            text-transform: uppercase;
            font-size: 90%;
            color: white;
            background-color: gray;
            border-bottom: 2px solid white;
            border-right: 1px solid white;
            border-top: 1px solid white;
            letter-spacing: 0.1em;
        }

            tr.head th:first-child {
                -webkit-border-top-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
                border-top-left-radius: 5px;
            }

            tr.head th:last-child {
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topright: 5px;
                border-top-right-radius: 5px;
            }

        tr.even {
            background-color: #efefef;
        }

        tr:hover {
            background-color: lightgray;
        }

        tr.table_total {
            background-color: lightgray;
            font-weight: bold;
        }

        .money {
            text-align: right;
            font-weight: bold;
        }
    </style>


    <thead>
        <tr class="head">
            <th>Investimento</th>
            <th>Vencimento</th>
            <th>Categoria</th>
            <th>Risco</th>
            <th class="table-money">Saldo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var investimento in ListaInvestimentos)
        {
            <tr>
                <td>@investimento.Nome</td>
                <td>@investimento.Vencimento.ToStringNotNull()</td>
                <td>@investimento.NomeCategoria</td>
                <td>@investimento.NomeRisco</td>
                <td class="table-money">@investimento.Valor.Value.ToString("C")</td>
                <td>
                    <div align="center">
                        <a href="/investimento/alterar/@investimento.Id" class="btn btn-outline-secondary">Alterar</a>
                        <a class="btn btn-outline-secondary" href="investimento/extrato/@investimento.Id/@investimento.Nome">Extrato</a>
                        <a class="btn btn-outline-secondary" href="investimento/posicao/@investimento.Id/@investimento.Nome">Posição</a>
                        <a href="/investimento/excluir/@investimento.Id/@investimento.Nome" class="btn btn-outline-danger">Excluir</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="table_total">
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-money">@ValorTotal.ToString("C")</td>
            <td></td>
        </tr>
    </tfoot>

</table>

<a href="/investimento/incluir" class="btn btn-primary">Criar investimento</a>
<a href="/" class="btn btn-default">Voltar</a>

<br />


@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@

@code {
    string mensagem = "Carregando lista de investimentos...";

    /// Lista dos investimentos
    public List<InvestimentoModel> ListaInvestimentos { get; set; } = new();

    /// Valor total dpos investimentos
    public float ValorTotal { get; set; } = 0;

    /// <summary>
    /// Dados da seção do usuário
    /// </summary>
    SessionModel sessionModel = new SessionModel();


    /// Carga inicial

    protected override async Task OnInitializedAsync()
    {
        // ---------------------------------------------------------------------------------------
        // Verificando se o login já foi efetuado
        var conteudoSessionStorage = await sessionStorage.GetAsync<SessionModel>("sessionModel");
        if (conteudoSessionStorage.Value == null)
        {
            sessionModel = new SessionModel();
        }
        else
        {
            sessionModel = conteudoSessionStorage.Value;
        }

        if (string.IsNullOrWhiteSpace(sessionModel.Token))
        {
            navigationManager.NavigateTo("/", true);
        }
        // ---------------------------------------------------------------------------------------

        RetornoListaEntidadesModel<InvestimentoModel> retornoApi = await InvestimentoService.ObterLista(sessionModel.Token);

        if (retornoApi.Codigo == ApiFinancas.Enums.CodigosRetornoEnum.Sucesso)
        {
            ListaInvestimentos = retornoApi.ListaEntidades;
            ValorTotal = ListaInvestimentos.Sum(investimento => investimento.Valor.Value);
            mensagem = "";
        }

    }

}
