@page "/investimento"
@using AppFinancas.Models
@rendermode InteractiveServer

<PageTitle>Investimentos</PageTitle>

<h2>Seus investimentos</h2>

<table class="table">


    <style type="text/css">
        body {
            font-family: Arial, Verdana, sans-serif;
            font-size: 90%;
            color: #666;
            background-color: #f8f8f8;
        }

        table {
            border-spacing: 0px;
        }

        th, td {
            padding: 5px 30px 5px 10px;
            border-spacing: 0px;
            font-size: 100%;
            margin: 0px;
        }

        th, td {
            text-align: left;
            background-color: #e0e9f0;
            border-top: 1px solid #f1f8fe;
            border-bottom: 1px solid #cbd2d8;
            border-right: 1px solid #cbd2d8;
        }

        tr.head th {
            text-transform: uppercase;
            font-size: 90%;
            color: white;
            background-color: gray;
            border-bottom: 2px solid white;
            border-right: 1px solid white;
            border-top: 1px solid white;
            text-align: left;
            letter-spacing: 0.1em;
        }

            tr.head th:first-child {
                -webkit-border-top-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
                border-top-left-radius: 5px;
            }

            tr.head th:last-child {
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topright: 5px;
                border-top-right-radius: 5px;
            }

        tr.even {
            background-color: #efefef;
        }

        tr:hover {
            background-color: lightgray;
        }

        .money {
            text-align: right;
            font-weight: bold;
        }
    </style>


    <thead>
        <tr class="head">
            <th>Investimento</th>
            <th>Vencimento</th>
            <th>Categoria</th>
            <th>Risco</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var investimento in ListaInvestimentos )
        {
            <tr>
                <td>@investimento.Nome</td>
                <td>@investimento.Vencimento.ToStringNotNull()</td>
                <td>@investimento.NomeCategoria</td>
                <td>@investimento.NomeRisco</td>
                <td>
                    <div align="center">
                        <a href="/investimento/excluir/@investimento.Id/@investimento.Nome" class="btn btn-outline-secondary">Excluir</a>
                        <a href="/investimento/alterar/@investimento.Id" class="btn btn-outline-secondary">Alterar</a>
                        <a class="btn btn-outline-secondary" href="investimento/extrato/@investimento.Id/@investimento.Nome">Extrato</a>
                    <a class="btn btn-outline-secondary" href="investimento/posicao/@investimento.Id/@investimento.Nome">Posição</a>
                        
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

<a href="/investimento/incluir" class="btn btn-primary">Criar investimento</a>
<a href="/" class="btn btn-default">Voltar</a>

<br />

@if (mensagem != string.Empty)
{
    <label class="text text-info">@mensagem</label>
}
@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@

@code {
    string mensagem = "Carregando lista de investimentos...";
    public List<InvestimentoModel> ListaInvestimentos { get; set; } = new();

    


    protected override async Task OnInitializedAsync()
    {
        RequisicaoLoginModel model = new RequisicaoLoginModel() { Login = "rsinfo", Senha = "senha123" };
        var x = UsuarioService.ObterToken(model);
        RetornoBaseModel retornoService = await UsuarioService.ObterToken(model);
        string token = "";

      

        if (retornoService.Codigo != ApiFinancas.Enums.CodigosRetornoEnum.Sucesso)
        {
            mensagem = retornoService.Mensagem;
            return;
        }
        else
        {
            ///Limpando a mensagem
            token = retornoService.Mensagem;
            mensagem = "";
        }

        RetornoListaEntidadesModel<InvestimentoModel> retornoApi = await InvestimentoService.ObterListaInvestimentos(token);

        if (retornoApi.Codigo == ApiFinancas.Enums.CodigosRetornoEnum.Sucesso)
        {
            ListaInvestimentos = retornoApi.ListaEntidades;
        }

    }

    private void Teste()
    {

        // adsfjsdklfjksdl
    }
}
