@page "/meta"
@using AppFinancas.Models
@rendermode InteractiveServer

<PageTitle>Metas</PageTitle>

<h2>Suas metas</h2>




<table class="table">
    <style type="text/css">

        table {
            border-spacing: 0px;
        }

        th, td {
            padding: 5px 30px 5px 10px;
            border-spacing: 0px;
            font-size: 100%;
            margin: 0px;
        }

        th, td {
            text-align: left;
            background-color: #e0e9f0;
            border-top: 1px solid #f1f8fe;
            border-bottom: 1px solid #cbd2d8;
            border-right: 1px solid #cbd2d8;
        }

        tr.head th {
            text-transform: uppercase;
            font-size: 90%;
            color: white;
            background-color: gray;
            border-bottom: 2px solid white;
            border-right: 1px solid white;
            border-top: 1px solid white;
            letter-spacing: 0.1em;
        }

        tr.head th:first-child {
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
        }

        tr.head th:last-child {
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
        }
        
        tr.even {
            background-color: #efefef;
        }

        tr:hover {
            background-color: lightgray;
        }

        .money {
            text-align: right;
        }
    </style>


    <thead>
        <tr class="head">
            <th>Meta</th>
            <th>Data</th>
            <th class="table-money">Valor</th>
            <th class="table-money">Já tenho</th>
            <th class="table-money">Faltam</th>
            <th text-align="center">Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var meta in ListaMetas)
        {
            <tr>
                <td>@meta.Nome</td>
                <td>@meta.Data.ToString("dd/MM/yyyy")</td>
                <td class="table-money">@meta.Valor.ToString("C")</td>
                <td class="table-money">@meta.ValorJaTenho.Value.ToString("C")</td>
                <td class="table-money">@meta.QuantoFalta.ToString("C")</td>
                <td>
                    <div align="center">
                    <a class="btn btn-outline-secondary" href="meta/extrato/@meta.Id/@meta.Nome">Extrato</a>
                    <a class="btn btn-outline-secondary" href="meta/posicao/@meta.Id/@meta.Nome">Posição</a>
                    <a class="btn btn-outline-secondary" href="meta/alterar/@meta.Id">Alterar</a>
                    <a class="btn btn-outline-danger" href="meta/excluir/@meta.Id/@meta.Nome">Excluir</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>


</table>

<a href="/meta/incluir" class="btn btn-primary">Criar meta</a>
<a href="/" class="btn btn-default">Voltar</a>

<br />

@if (mensagem != string.Empty)
{
    <label class="text text-info">@mensagem</label>
}
@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@

@code {
    string mensagem = "Carregando lista de metas...";
    public List<MetaModel> ListaMetas { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        RequisicaoLoginModel model = new RequisicaoLoginModel() { Login = "rsinfo", Senha = "senha123" };
        var x = UsuarioService.ObterToken(model);
        RetornoBaseModel retornoService = await UsuarioService.ObterToken(model);
        string token = "";

        if (retornoService.Codigo != ApiFinancas.Enums.CodigosRetornoEnum.Sucesso)
        {
            mensagem = retornoService.Mensagem;
            return;
        }
        else
        {
            ///Limpando a mensagem
            token = retornoService.Mensagem;
            mensagem = "";
        }

        RetornoListaEntidadesModel<MetaModel> retornoApi = await MetaService.ObterLista(token);

        if (retornoApi.Codigo == ApiFinancas.Enums.CodigosRetornoEnum.Sucesso)
        {
            ListaMetas = retornoApi.ListaEntidades;
        }

    }

  
}
