@page "/meta/posicao/{id:int}/{nomeMeta}"
@using AppFinancas.Models
@rendermode InteractiveServer

<PageTitle>Metas</PageTitle>

<h3>Posição de <b>@NomeMeta</b></h3>

<table class="table">


    <style type="text/css">
        body {
            font-family: Arial, Verdana, sans-serif;
            font-size: 90%;
            color: #666;
            background-color: #f8f8f8;
        }

        table {
            border-spacing: 0px;
        }

        th, td {
            padding: 5px 30px 5px 10px;
            border-spacing: 0px;
            font-size: 100%;
            margin: 0px;
        }

        th, td {
            text-align: left;
            background-color: #e0e9f0;
            border-top: 1px solid #f1f8fe;
            border-bottom: 1px solid #cbd2d8;
            border-right: 1px solid #cbd2d8;
        }

        tr.head th {
            text-transform: uppercase;
            font-size: 90%;
            color: white;
            background-color: gray;
            border-bottom: 2px solid white;
            border-right: 1px solid white;
            border-top: 1px solid white;
            text-align: left;
            letter-spacing: 0.1em;
        }

            tr.head th:first-child {
                -webkit-border-top-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
                border-top-left-radius: 5px;
            }

            tr.head th:last-child {
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topright: 5px;
                border-top-right-radius: 5px;
            }

        tr.even {
            background-color: #efefef;
        }

        tr:hover {
            background-color: lightgray;
        }

        .money {
            text-align: right;
        }

        .total {
            text-align: right;
            font-weight: bold;
        }
    </style>


    <thead>
        <tr class="head">
            <th>Investimento</th>
            <th class="money">Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimentacao in ListaMovimentacoes)
        {
            <tr>
                <td><a href="investimento/posicao/@movimentacao.IdInvestimento/@movimentacao.Nome">@movimentacao.Nome</a></td>
                <td class="money">@movimentacao.Valor.ToString("C")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Total</th>
            <td class="total">@ValorTotal.ToString("C")</td>
        </tr>
    </tfoot>

</table>

<a href="/movimentacao/create" class="btn btn-primary">Incluir lançamento</a>
<a onclick="history.back()" class="btn btn-default">Voltar</a>

<br />

@if (mensagem != string.Empty)
{
    <label class="text text-info">@mensagem</label>
}
@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@

@code {

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string NomeMeta { get; set; }

    string mensagem = "Carregando dados...";
    float ValorTotal { get; set; } = 0;
    List<PosicaoModel> ListaMovimentacoes { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        RequisicaoLoginModel model = new RequisicaoLoginModel() { Login = "rsinfo", Senha = "senha123" };
        var x = UsuarioService.ObterToken(model);
        RetornoBaseModel retornoService = await UsuarioService.ObterToken(model);
        string token = "";

        if (retornoService.Codigo != ApiFinancas.Enums.CodigosRetornoEnum.Sucesso)
        {
            mensagem = retornoService.Mensagem;
            return;
        }
        else
        {
            ///Limpando a mensagem
            token = retornoService.Mensagem;
            mensagem = "";
        }

        RetornoListaEntidadesModel<PosicaoModel> retornoApi = await MovimentacaoInvestimentoService.ObterPosicao(token, Id, flagMeta:true);

        if (retornoApi.Codigo == ApiFinancas.Enums.CodigosRetornoEnum.Sucesso)
        {
            ListaMovimentacoes = retornoApi.ListaEntidades;
            ValorTotal = retornoApi.ListaEntidades.Sum(lancamento => lancamento.Valor);
        }

    }


}